<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script type="text/javascript">
    function init() {
        google.load("visualization", "1.1", { packages:["corechart"], callback: 'drawCharts' });
    }

    function drawCharts() {
        drawAccountImpressions('chart-account-impressions');
    }

    function drawAccountImpressions(containerId) {
      var data = google.visualization.arrayToDataTable([
        [{label: 'Time', id: 'Time', type: 'timeofday'}, {label: 'Watts', id: 'Watts', type: 'number'},{'type': 'string', 'role': 'style'}]

<CHART_DATA>

      ]);

      var options = {
        title: "Solar Production",
        fontSize: 18,
        pointSize: .25,
        width: 800,
        height: 300,
        legend: {position:'none'},
        chartArea: {width: '80%', height: '60%'},
        vAxis: {
          title: 'Power (W)',
          titleTextStyle: {fontSize: 15}
        },
        hAxis: {
          title: '<CHART_PEAK>',
          titleTextStyle: {fontSize: 15},
          textStyle: {fontSize: 16},
          format: 'h:SSa',
          gridlines : {count: -1}
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById(containerId));
      chart.draw(data, options);


  }
  </script>
</head>
    <body onload="init()">
    	<div id="chart-account-impressions"></div>
</body>
</html>
